<div class="container">
  <div class="map-container">
    <div class="map" id="map"></div>
  </div>
  <button (click)="startTracking()">Iniciar</button>
  <button (click)="stopTracking()">Finalizar</button>

  <br>
  <label for="fname">Limite de deslocamento máximo em metros:</label>
  <br>
  <input type="number" [(ngModel)]="displacementLimit">
  <br>
  <label for="fname">Limite de velocidade máxima em metros por segundo</label>
  <br>
  <input type="number" [(ngModel)]="speedLimit">
  <br>
  <label for="fname">Limite de aceleração máxima em metros por segundo ao quadrado</label>
  <br>
  <input type="number" [(ngModel)]="accelerationLimit">
  <br>
  <label for="fname">Intervalo de tempo entre leituras de GPS em milissegundos</label>
  <br>
  <input type="number" [(ngModel)]="timeInterval">

  <div>
    <br>
    <!-- <span>{{coordinatesArray | json}}</span> -->
    <span>{{mensagem}}</span>
    <br>
    <span>distancia Total =  {{totalDistance | number:'1.3-3'}} Km</span>
    <br>
    <span>total da área explorada = {{calculeExploredArea()}}</span>
    <br>
    icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  </div>

  <div class="ar-container">
    <canvas #arCanvas></canvas>
  </div>
</div>